@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Open Sans, Arial, Sans-Serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    box-sizing: border-box;
}

/*Logo and Navigation Bar*/

#main-heading {
    font-family: Lato, Arial, Sans-Serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#title {
    text-align: center;
    font-size: 300%;
    padding-top: 20px;
}

#nav-bar {
    font-size: 120%;
    margin-top: 20px;
}

#nav-bar li {
    list-style-type: none;
    float: right;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
    margin-right: 50px;
}

#nav-bar a:hover {
    text-decoration: none;
    background-color: black;
    color: white;
}

/*Drop In Page*/
#drop-in-page {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    font-family: Lato, Arila, Sans-Serif;
}

.drop-in-outer {
    position: relative;
    height: 48%;
    width: 48%;
    margin-left: 20px;
    border: black solid 2px;
    overflow: hidden;
}

.drop-in-outer img {
    transition: transform .5s ease;
    opacity: .5;
}

.drop-in-outer:hover img{
    transform: scale(1.1);
}

.drop-in-outer img {
    height: 100%;
    width: 100%;
}

.drop-in-text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 150%;
    color: black;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 20px;
}

/*About Us*/
#about-us {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    background-color: chocolate;
}

.about-us-row {
    width: 33%;
}

.about-us-row h3, p {
    text-align: justify;
    padding: 10px;
}

/*Contact Us*/

#contact-us {
    height: 750px;
    width: 100%;
    background: url('../images/landing-page-images/contact-us-background.jpg') center / 100% 750px no-repeat;
}

#contact-us-form {
    background-color: rgba(255, 255, 255, 0.5);
    height: 500px;
    width: 50%;
    position: absolute;
    margin: 115px;
    padding: 20px;
}

#contact-us-form h2 {
    margin-bottom: 10px;
    text-align: center;
}

.contact-us-input {
    background: transparent;
    height: 30px;
    width: 100%;
    margin: 10px;
    border: solid 1px black;
}

.contact-us-input:hover {
    background:rgb(255, 255, 255, 0.5)
}

#submit-button {
    margin: 20px 0 0 10px;
    padding: 5px;
    background:rgb(255, 255, 255, 0.5);
    display: block;
}

#submit-button:hover {
    border: solid 1px black;
}

/*Social Media*/

footer {
    height: 150px;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
}

/*The Range Page*/
.the-range-main {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 75px;
}

.the-range-main h2 {
    position: absolute;
    padding: 20px;
}

.range-row {
    margin: 50px 10px 10px 10px;
    position: relative;
    text-align: center;
    height: 400px;
    width: 400px;
}

.range-row p {
    text-align: justify;
}

.range-text {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white;
}

.overlay {
    top: 53.5%;
    left: 53.5%;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}

.range-row:hover .overlay {
    opacity: .9;
}

.range-row img {
    border: solid black 4px;
    margin: 10px;
    height: 100%;
    width: 100%;
}

.range-text .overlay button, a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.range-text-inner {
    margin-top: 20px;
}

.range-text-inner button{
    margin-top: 110px;
}

/*The Support Page*/
 
#support-main {
    margin-top: 100px;
}

#support-main h2, p {
    text-align: center;
}

.support-row {
    position: relative;
}

.support-text {
    position: absolute;
}